.container {
    display: grid;
    align-content: stretch;

    width: 100%;
    height: 100%;

    grid-template-columns: var(--menu-column-width) auto;
    grid-template-rows: 60px auto;

}

header{
    color: back;
    grid-column: 2;
    grid-row: 1 ;
    padding: 0 40px;
    
}

aside{
    background-color: black;
    color: white;
    grid-column: 1;
    grid-row: 1 / span 2; 
    padding: 10px;
}

main{
    background-color: azure;
    grid-column: 2;
    padding: 40px;
}



