@import url('component/box_menu-item.css');

.container__menu {
    display: grid;
    height: 100%;
    grid-template-rows: [header-start] 100px [header-end content-start] auto [content-end footer-start] 100px [footer-end];
    grid-template-columns: var(--menu-column-width);
}

.header__menu {
    grid-row: 1;
}

.nav__menu {
    background-color: blue;
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: min-content;
}

.footer__menu {
    grid-row: 3;
}

/*side-logo*/

.container__logo{
    display: grid;
    grid-template-columns: [logo] 30px [title] auto;
    grid-template-rows: 1fr 1fr;
    align-items: stretch;
    padding: 10px;
}

.container__logo-icon{
    grid-row: 1;
    grid-column: 1;

}

.container__logo-title{
    grid-row: 1;
    grid-column: 2;
    
}

.container__logo-title > span {
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.container__logo-row-title {
    grid-row: 2;
    grid-column: span 2;
}

.container__logo-row-title span{
    display: inline-block;
    vertical-align: top;
    font-size: 9px;
    
}