:root {
    --menu-column-width: 200px;
}


.icon-color{
    color: gray;
}

.icon-color-select{
    color: white;
}

.div-hover{
    background-color: rgba(255, 255, 255, 0.2); 
}

.color-text-title{ color: gray; }
.color-negative{ color: red}
.color-positive{ color: green}

.text-bold{
    font-weight: bolder;
}


.cor-roxa{ color: rgb(53, 9, 226);}
.cor-verde{ color: green;}
.cor-azul{ color: blue;}
.cor-cinza-claro{color: rgb(180, 174, 174)}

.bg-roxa{ background-color: rgb(53, 9, 226,0.2);}
.bg-verde{ background-color: rgb(7, 135, 7, 0.2);}


.cor-bg-roxa-alfa{ background-color: rgb(53, 9, 226, 0.2);}